!!!
%html{"ng-app" => "expensesTracker"}
  %head
    %title Expenses Tracker
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    //TODO: Move this into an angular view? Check what should be the right approach

    / Header
    #top-nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-toggle
          %a.navbar-brand{:href => "#"} Expenses Tracker

        - if current_user
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "funcion() {return false;}", :role => "button"}
                  %i.glyphicon.glyphicon-user
                  = current_user.name
                  %span.caret
                %ul#g-account-menu.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Profile
                  %li
                    %a#sign-out{:href => "#"}
                      %i.glyphicon.glyphicon-lock
                      Logout
      / /container
    / /Header
    / Main Container
    .container
      - if current_user
        .col-sm-2
          %ul.nav.nav-pills.nav-stacked
            %li
              %a{:href => '#/registries'}
                %i.glyphicon.glyphicon-list
                  Your summary
              -# %a{:href => '#'}
              -#   %i.glyphicon.glyphicon-list
              -#     Balance with friends

        .col-sm-10{"ng-view" => ""}
          = yield
      - else
        .col-sm-12
          = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"

